* {
  margin: 0;
  padding: 0.5;
}
div nav a:hover {
  color: #900;
}

#nav {
  padding: 10px;
  font-size: large;
  float: left;
}

nav {
  background-color: aquamarine;
  padding: 10px;
}
#body {
  background-color: rgb(96, 188, 211);
}
#dn {
  float: left;
}
#log {
  float: right;
}

#gnav {
  clear: both;
}
div nav a {
  display: inline-block;
  border-right: 2px solid black;
  font-size: large;
}
div nav a#con {
  display: inline-block;
  border-right: 0px solid black;
}
